<!doctype html>
<html lang="uk">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style/bgVideo.css">
        <link rel="stylesheet" type="text/css" href="style/bgVideo.css">
        <link rel="stylesheet" type="text/css" href="style/styleIndex.css">
    
        <link rel="apple-touch-icon" sizes="180x180" href="site logo/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="site logo/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="site logo/favicon-16x16.png">
        <link rel="manifest" href="site logo/site.webmanifest">
    <title>Restaurants booking</title>
</head>

<body>

    
    <header>

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">RB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="restaurant 1.html">Ресторан 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="restaurant 2.html">Ресторан 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="historyOfBooking.html">Історія бронювань</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Q&A.html">Запитання та відповіді</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="admin.html">Адміністратору</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>


    <div class="backgroundVideo">
        <video autoplay muted loop playsinline id="video-bg">
            <source src="source/Restaurant booking video.mp4" type="video/mp4">
        </video>
    </div>


    <section>
        <div class="conteiner-fluid">
            <div class="row">

                <div class="col4 col-lg-4 CardOne">
                    <div class="card cardRestOne" style="width: 20rem;">
                        <img src="source/Картинки для ресторану 3/DALL·E 2023-03-02 19.18.45 - draw a poster for an avant-garde Georgian restaurant with a classic interior and a small number of guests.png"
                            class="card-img-top" alt="pic restaurant">
                        <div class="card-body">
                            <p class="card-text">Класичний ресторан з молекулярною кухнею і живою музикою!</p>
                        </div>
                    </div>



                </div>
                <div class="col7 col-lg-4 text-center CardTwo">
                    <div class="card mb-3" style="width: 450px; height: 200px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="source/Картинки для ресторану 3/DALL·E 2023-03-02 19.18.49 - draw a poster for an avant-garde Georgian restaurant with a classic interior and a small number of guests.png"
                                    class="img-fluid rounded-start" alt="rest pic">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Ресторан 3</h5>
                                    <p class="card-text">Найкраще місце, щоб отримати естутичну насолоду від приємного вечора.</p>
                                    <p class="card-text"><small class="text-muted">Оновлено 3 хвилини
                                            тому</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col6 col-lg-4 text-center CardThree">
                    <div class="card">
                        <div class="card-header">
                            Цитата
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                Цей ресторан мій улюблений.
                                <footer1 class="blockquote-footer">Кий, Щек, Хорив та сестра їхня Либідь <cite title="Source Title">"Якась
                                        розумна книга"</cite></footer1>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="bottom-underline-section"></div>

    <footer>
        <div class="conteiner-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-12 footer-text text-center">
                    <p>
                        Всі права захищено, 2023
                        <img style="width: 30px;" src="source/Copyright-Symbol.png" alt="Copyright-Symbol">
                    </p>
                </div>
                <div class="col-lg-4 col-md-12 footer-text text-center">
                    <img style="width: 25px;" src="source/contact-phone-icon-4.png" alt="contact img"> Контакти <br>


                    <img style="width: 25px;" src="source/png-transparent-handshake-cooperation.png"
                        alt="cooperation img"> Співпраця з нами <br>

                    <img style="width: 25px;" src="source/team-icon-24.png" alt="our team img"> Наша команда
                </div>
                <div class="col-lg-4 col-md-12 media-links">
                    Наші сторінки: 
            
                        <a href="https://t.me/Serhii_Mshkvts">
                          <img class="socialMediaLogo" src="source/Telegram_logo.svg.png" alt="telegram logo">
                        </a>
                        <a href="https://www.instagram.com/serhii_mshkvts/">
                          <img class="socialMediaLogo" src="source/640px-Instagram_icon.png" alt="insta logo">
                        </a>
                        <a href="https://github.com/Serhii-Mashkovets">
                          <img class="socialMediaLogo" src="source/25231.png" alt="github logo">
                        </a>
                      

                </div>
            </div>
        </div>
    </footer>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>